body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Hero Styles */

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a , .hero-text>p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content {
    width: 75%;
    gap: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
}


.hero-image {
    background-color: #E5E7EB;
    flex-basis: 50%;
    height: 200px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: none;
    padding: 8px 20px;
}

/* Some Information styles */

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.random-info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    text-align: center;
}

.image-placeholder {
    border: 4px solid #3882F6;
    border-radius: 10px;
    height: 150px;
}

/*Quote/Testimonial styles*/

.testimonial {
    background-color: #E5E7EB;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    height: 400px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.author{
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}